/* General Styles */
#hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
}

#hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#hero-content {
  position: absolute;
  width: 100%;
  height: 70%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

#hero-content h1 {
  font-size: 80px;
  margin-bottom: 10px;
}

#hero-content p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 20px;
}

#ctaPrenota {
  margin-top: 20px;
}

#ctaPrenota,
#ctaPrenotaFixed {
  display: inline-block;
  padding: 15px 30px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

#ctaPrenotaFixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#bar {
  width: 100%;
  height: 150px;
  background-color: black;
  border: none;
  margin: 0px;
}

#boxx {
  position: relative;
  align-items: center;
  justify-content: center;
}

#titleContent {
  text-align: center;
  position: absolute;
  top: 0px;
  color: white;
  width: 100%;
}

@media (max-width: 600px) {
  #mobile {
    width: 100%;
    overflow-x: hidden;
  }

  #hero-section {
    width: 100%;
    height: 100vh;
  }

  #hero-content {
    top: 15%;
  }

  #hero-content h1 {
    font-size: 55px;
    text-align: center;
    padding: 10px;
  }

  #hero-content p {
    margin-bottom: 20px;
  }

  #titleContent {
    font-size: small;
  }

  #ctaPrenota,
  #ctaPrenotaFixed {
    font-size: 16px;
    padding: 12px 24px;
    margin-top: 20px;
  }

  #ctaPrenotaFixed {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 1000;
  }
}
