.background-diagonal-azienda {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-160deg, #ffdfae 50%, #ffb547b4 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 50%);
  z-index: -1;
}

.azienda-form-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 600px;
  margin: 60px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.azienda-form-container h2,
.azienda-form-container h3 {
  text-align: center;
}

.azienda-form-container form {
  display: flex;
  flex-direction: column;
}

.azienda-form-container label {
  margin-top: 10px;
}

.azienda-form-container input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.prenotazione-header-azienda {
  margin-top: 70px;
  text-align: center;
}

.prenotazione-header-azienda h1 {
  color: #141414;
  font-size: 65px;
  margin: 15px;
}

.prenotazione-header-azienda p {
  color: #555555;
  font-size: 30px;
}

.azienda-form-container button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #14d928;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.azienda-form-container button:hover {
  background-color: #0f971d;
}

@media (max-width: 768px) {
  .azienda-form-container {
    padding: 15px;
    margin: 70px auto;
    max-width: 90%;
  }

  /* .azienda-form-container input {
    padding: 8px;
  }

  .azienda-form-container button {
    padding: 10px;
  } */

  .prenotazione-header-azienda h1 {
    font-size: 50px;
  }

  .prenotazione-header-azienda p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .prenotazione-header-azienda h1 {
    font-size: 35px;
  }

  .prenotazione-header-azienda p {
    font-size: 12px;
  }

  .azienda-form-container {
    max-width: 90%;
  }

  .azienda-form-container input {
    padding: 8px;
  }

  .azienda-form-container button {
    padding: 10px;
  }
}
