.main-container {
  position: relative;
  z-index: 1;
}

.background-diagonal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-1600deg, #6a0d00 50%, #ffffff 50%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 50%);
  z-index: -1;
}

.content-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.box-prenotazione {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-posizione-contatti {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 20px;
}

hr {
  width: 100%;
}

.shadow-box {
  background: white;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
}

.prenotazione-header {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 80px;
}

.prenotazione-title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

.prenotazione-subtitle {
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
}

.posizione,
.contatti {
  text-align: left;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
}

.posizione-title,
.contatti-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.orari {
  font-size: 1rem;
  color: #777;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .prenotazione-title {
    font-size: 2.5rem;
  }

  .posizione,
  .contatti {
    padding: 15px;
  }

  .posizione-title,
  .contatti-title {
    font-size: 1.8rem;
  }

  .orari {
    font-size: 0.95rem;
  }
}

@media (max-width: 600px) {
  .prenotazione-title {
    font-size: 2rem;
  }

  .shadow-box {
    display: block;
    margin: 70px;
  }

  .prenotazione-subtitle {
    font-size: 1.2rem;
  }
}
