.main-container {
  position: relative;
  z-index: 1;
}

.background-diagonal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-160deg, #ffdfae 50%, #ffb547b4 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 50%);
  z-index: -1;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.box-prenotazione {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-posizione-contatti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  /* background-color: #fde6e6;  */
}

hr {
  width: 100%;
}

.shadow-box {
  background: #ffffff;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
}

.prenotazione-header {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 70px;
}

.prenotazione-title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;
}

.prenotazione-subtitle {
  font-weight: bold;
  color: #4d4d4d;
  font-size: 1.5rem;
}

.posizione,
.contatti {
  text-align: left;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  /* background-color: #f5f5f5; */
}

.posizione-title,
.contatti-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.orari {
  font-size: 1rem;
  color: #777;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .content-container {
    display: flex;
    flex-direction: column;
  }

  .prenotazione-header {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 10px;
  }

  .main-container {
    width: 100%;
    padding: 80px;
  }

  .prenotazione-title {
    font-size: 2.5rem;
  }

  .posizione,
  .contatti {
    text-align: center;
    padding: 15px;
  }

  .posizione-title,
  .contatti-title {
    font-size: 1.8rem;
  }

  .posizione iframe {
    max-width: 100%;
  }

  .shadow-box {
    display: block;
    width: fit-content;
  }

  .orari {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .content-container {
    display: flex;
    flex-direction: column;
  }

  .prenotazione-header {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 20px;
  }

  .posizione iframe {
    max-width: 100%;
  }

  .main-container {
    width: 100%;
    padding: 20px;
  }

  .prenotazione-title {
    font-size: 2rem;
  }

  .shadow-box {
    display: block;
    width: 100%;
    /* margin: 70px; */
  }

  .prenotazione-subtitle {
    font-size: 1.2rem;
  }
}
